.boxWrapper {
  max-width: 680px;
  margin: 0 auto;
  margin-top: 80px;
}
.box {
  padding: 20px;
  border: 2px solid #dadde1;
  box-shadow: 5px 5px 5px rgba(206, 202, 202, 0.774);
  margin-bottom: 5px;
}
